main {
    display: flex;
    background-color: #fff;
    width: 1200px;
    height: 800px;
    border-style: double;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
}

#left ,#right {
    margin: 5px;
    width: 49%;
}


#left > Header,h1,.searchbox,.savedNote{
    width: 95%;
    margin: 10px auto;
}

Header {
    justify-content: space-between;
    display: flex;
}

Header > div {
    opacity: 0.5;
    width: 15%;
}

Header > div > img {
    margin: 10px;
    width: 50%;
}

.searchbox {
    background-color: rgb(228, 224, 224);
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.searchbox > input {
    outline: none;
    display: block;
    border: none;
    background-color: rgb(228, 224, 224);
    padding: 15px 10px;
    border-radius: 5px;
}

.searchbox > img {
    width: 4%;
    height: 10%;
    margin-right: 10px;
}

#left > .savedNote {
    margin-top: 20px;
}

#left > .savedNote > .savedNote1{
    height: 150px;
    margin-bottom: 20px;
    background-color: rgb(152, 225, 129);
    border-radius: 10px;
}

#left > .savedNote > .savedNote2{
    height: 150px;
    margin-bottom: 20px;
    background-color: rgb(250, 199, 145);
    border-radius: 10px;
}

#right > .firstNote,.secondNote {
    height: 40%;
    margin-bottom: 50px;
} 

#right > .firstNote > .firstNoteHeader {
    width: 93%;
    background-color: rgb(140, 250, 106);
    margin-top: 20px;
    padding: 0 20px;
    justify-content: space-between;
    display: flex;
}

#right > .firstNote > .firstNoteHeader > div {
    opacity: 0.5;
    width: 15%;
}

#right > .firstNote > .firstNoteHeader > div > img {
    margin: 10px;
    width: 50%;
}

#right > .firstNote > .firstNoteMain {
    background-color: rgb(152, 225, 129);
    width: 100%;
    height: 70%;
    margin-top: 0;
}

.firstNoteMain > p {
    margin: 10px 20px;
}

#right > .firstNote > .firstNoteFooter  {
    border-top: 1px solid #000;
    height: 15%;
    background-color: rgb(152, 225, 129);
}

.secondNote > .secondNoteHeader {
    width: 93%;
    background-color: rgb(255, 183, 106);
    margin-top: 20px;
    padding: 0 20px;
    opacity: 0;
    justify-content: space-between;
    display: flex;
}

#right > .secondNote > .secondNoteHeader > div {
    opacity: 0.5;
    width: 15%;
}

#right > .secondNote > .secondNoteHeader > div > img {
    margin: 10px;
    width: 50%;
}

.secondNoteMain {
    background-color: rgb(250, 199, 145);
    width: 100%;
    height: 80%;
    opacity: 1;
}

.secondNoteMain > p {
    margin: 10px 20px;
}

.secondNoteFooter {
    border-top: 1px solid #000;
    height: 15%;
    background-color: rgb(250, 199, 145);
    opacity: 0;
}

.secondNote:hover > .secondNoteFooter {
    opacity: 1;
}

.secondNote:hover > .secondNoteHeader {
    opacity: 1;
}

.secondNote:hover > .secondNoteMain {
    opacity: 1;
}