.Note{
    border-style: groove;
    border-color: black;
    height: 600px;
    width: 900px;
    margin: 20px auto;
    Background-color: rgb(235, 226, 226);
}

#Plan{
    border-style: groove;
    Border-style: black;
    height: 571px;
    width: 880px;
    margin: 10px auto;
}

#StickyNotes{
    Border-Style: groove;
    border-style: black;
    height: 550px;
    width: 400px;
    margin: 8px 10;
    background-color: white;
}

#text{
    display: inline-block;
    margin: 20px 20px;
    font-family: arial;
    font-size: 24px;
}

#Search input{
    display: block;
    height: 40px;
    width: 380px;
    margin: 10px 10px;
    background-color: rgb(235, 235, 235);
}

#Search img{
    height: 35px;
    margin: -48px 350px
}

#Show{
    height: 30px;
    width: 140px;
    margin: 40px 10px;
    font-family: arial;
    font-size: 16px;
    background-color: rgb(5, 187, 5);
    border-radius: 10px;
}

#Add{
    height: 30px;
    width: 100px;
    margin: 40px 10px;
    font-family: arial;
    font-size: 16px;
    background-color: rgb(255, 123, 0);
    border-radius: 10px;
}

#Delete{
    height: 30px;
    width: 80px;
    margin: 40px 10px;
    font-family: arial;
    font-size: 16px;
    background-color: red;
    border-radius: 10px;
}

#Update{
    height: 30px;
    width: 80px;
    margin: 10px 10px;
    font-family: arial;
    font-size: 16px;
    background-color: yellow;
    border-radius: 10px;
}

#Note-1{
    background-color: orange;
    height: 240px;
    width: 450px;
    margin: -566px 420px;
}

#FirstNote{
    display: inline-block;
    margin: 10px 10px;
    font-family: arial;
    font-size: 16px;
}

#p-1{
    margin: -8px 10px;
    font-family: arial;
    font-size: 16px;
}

#Note-2{
    background-color: rgb(10, 192, 10);
    height: 300px;
    width: 450px;
    margin: 580px 420px;
}

#SecondNote{
    display: inline-block;
    margin: 10px 10px;
    font-family: arial;
    font-size: 16px;
}

#p-2{
    margin: -8px 10px;
    font-family: arial;
    font-size: 16px;
}