/* IN THE NAME OF RAINBOW GOD :D */


body {
    background-color: #E9E9E9;
}
section {
    width: 1200px;
    height: 700px;
    margin: 50px auto;
    background-color: #E9E9E9;
    border-radius: 33px;
    box-shadow: 0px 2px 250px 2px rgba(47, 47, 47, 0.22);
    display: flex;
    align-items: center;
}

/* right div start>>>>>> */
#menu {
    background-color: #F0EEEE;
    border-radius: 34px 0px 0px 33px;
    border-right: 1px solid #E2E2E2;
    width: 120px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#menu>h1 {
    font-family:Arial, Helvetica ,sans-serif;
    font-size: 20px;
    font-weight: 600;
    /* height: 150px; */
    /* background-image: url(img/download.png);
    background-size: cover;
    background-position: center; */
}
/*menu>list of colorful circles  start............. */
#menu>ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:center ;
    width: 70px;
}

#menu>ul>li>ul {
    padding-left: 0;
    margin-left: 3px;
    display: none;
    visibility: hidden;
}

#menu>ul>li:hover>ul{
    
    visibility: visible;
    display: block;
}

#menu>ul>li>ul>li {
    list-style: none;
}

#menu>ul>li>ul>li>div {
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    border-radius: 30px;
}

#menu>ul>li>ul>li:nth-of-type(1)>div {
    background-color: #E4EE90;
}

#menu>ul>li>ul>li:nth-of-type(2)>div {
    background-color: #01D3FF;
}

#menu>ul>li>ul>li:nth-of-type(3)>div {
    background-color: #FF9B73;
}

#menu>ul>li>ul>li:nth-of-type(4)>div {
    background-color: #FFC972;
}
/* list end................... */
/* ................. */
/* menu end............ */


/* neteBox start...nooooooooooooo */
#notesBox {
    margin-left: 15px;
    width: 100%;
    height: 100%;
}
#noteHeader{
    display: flex;
    justify-content: space-between;
}
#noteHeader>svg{
    margin-top: 10px;
    width: 55px;
    margin-right: 40px;
}
/* searchBox item........... */
#notesBox>#noteHeader>.searchBox {
    display: flex;
    align-items: center;
    width: 210px;
    height: 27px;
    border-radius: 50px;
    background-color: #fff;
    margin: 18px 0 10px 0;
}

#notesBox>#noteHeader>.searchBox>input {
    outline: none;
    border: none;
    width: 110px;
}
/* searchBox item................ */
#notesBox>h1 {
    font-size: 50px;
    margin: 0 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
}

#notes {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows:250px 250px 250px 250px  ;
    grid-gap: 15px;
}

#notes>div {
    border-radius: 33px;
    background-color: #01D3FF;
    font-family: Arial, Helvetica, sans-serif;
    /* display: flex;
    justify-content: space-around; */
    position: relative;
    animation: start 0.4s linear forwards;
    opacity: 0;
    /* align-items: center; */
}
#notes>div:nth-of-type(1){
    animation-delay: .2s;
}
#notes>div:nth-of-type(2){
    animation-delay: .4s;
}
#notes>div:nth-of-type(3){
    animation-delay: .6s;
}
#notes>div:nth-of-type(4){
    animation-delay: .8s;
}
@keyframes start {
    from{
        width: 0px;
        height: 0px;
        opacity: 0;
        transform: translate(200px,100px);
    }
    to{
        width: 250px;
        height: 250px;
        opacity: 1;
        transform: translate(0,0);
    }
}
#notes>div>div {
    width: 90%;
    height: 80%;
    margin-top: 28px;
    margin-left: 20px;
    overflow: hidden;
}

#notes>div>h3{
    padding-left: 10px;
}
#notes>div>#textarea{
    margin-left: 10px;
    /* padding-right: 20px; */
    line-height: 19px;
    font-size: 15px;
    /* padding-bottom: 140px; */
    outline: none;
    border: none;
    background-color: #01D3FF;
}

/* scroll.................. */
#notes>div:first-of-type>div {
    overflow-y: scroll;
}
#notes>div:first-of-type>div::-webkit-scrollbar {
    width: 8px;
    height: 15px;
}
#notes>div:first-of-type>div::-webkit-scrollbar-thumb{
    background-color: #E4EE90;
    border-radius: 10px;
}
#notes>div:first-of-type>div::-webkit-scrollbar-track{
    background-color: #000;
    border-radius: 10px;
}
/* scroll end............... */

#notes>div>svg:first-of-type {
    position: absolute;
    top: 20px;
    right: 21px;
}

.pencil {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 40px;
    
}
nav{
    margin:10px 0 0 20px;
    border-radius: 30px;
   
    width: 200px;
    background-color: rgb(194, 165, 165);
}
nav>ul{
list-style: none;
display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
nav>ul>li{
    margin: 0 15px;
    font-size: 20px;
}

/* noteBox end....yeeeeeeeeeeeeeeeeeee */